<ngx-datatable
class="material"
[rows]="rows"
[columnMode]="'force'"
[headerHeight]="50"
[footerHeight]="50"
[rowHeight]="'auto'"
[limit]="10"
[selected]="selected"
[selectionType]="'single'"
(select)='onSelect($event)'>
<ngx-datatable-column name="Id" prop="id"></ngx-datatable-column>
<ngx-datatable-column name="Title" prop="title"></ngx-datatable-column>
<ngx-datatable-column name="Comment" prop="headerComment.content"></ngx-datatable-column>
<ngx-datatable-column name="User" prop="headerComment.user.name"></ngx-datatable-column>
<ngx-datatable-column name="Category" prop="category.title"></ngx-datatable-column>
<ngx-datatable-column name="Number of comments" prop="numberComments"></ngx-datatable-column>
</ngx-datatable>
