<div style="width: 107%;">
  <mat-form-field style="width: 90%;" class="mb-1">
    <input matInput placeholder="Find for username..." required (keyup)='updateFilter($event)'>
  </mat-form-field>
  
  <button mat-mini-fab color="primary" (click)="openDialogNewAdminUser()">
      <mat-icon>add</mat-icon>
  </button>
  </div>
<ngx-datatable
class="material"
[rows]="rows"
[columnMode]="'force'"
[headerHeight]="50"
[footerHeight]="50"
[rowHeight]="'auto'"
[limit]="10"
[selected]="selected"
[selectionType]="'single'"
(select)='onSelect($event)'>
<ngx-datatable-column name="Id" prop="id"></ngx-datatable-column>
<ngx-datatable-column name="Email" prop="email"></ngx-datatable-column>
<ngx-datatable-column name="Username" prop="name"></ngx-datatable-column>
<ngx-datatable-column name="Role" prop="role"></ngx-datatable-column>
</ngx-datatable>
